* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.bai1 {
    text-align: center;
}

.b {
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}

.c {
    margin-top: 20px;
    margin-bottom: 35px;
}

.nut li {
    margin: 0 12px;
    display: inline;
}

.nut li a {
    background-color: black;
    border-radius: 4px;
    color: aliceblue;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    min-width: 200px;
    text-decoration: none;
    margin-bottom: 50px;
}

.bai2 {
    background: url(https://cdn.vjshop.vn/tin-tuc/may-anh-chup-phong-canh-tot-nhat-hien-nay/may-anh-chup-phong-canh-1.jpg) no-repeat;
    background-size: 100%;
    padding: 100px;
    margin-bottom: 100px;
    text-align: center;
    box-shadow: 20px 20px 50px 10px #000 inset;
}

.box {}

.nd {
    margin: 30px;
}

.nut2 {
    background-size: 100px 300px;
}

.pa {
    margin: 35px;
    color: #FFFF;
}

.anh2 {
    background-color: orangered;
    width: 200px;
    padding: 10px;
}

.nut2 li a {
    font-size: 20px;
    border-radius: 4px;
    color: aliceblue;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}

.bai3 {
    background-color: #f2f2f2;
    margin: 20px 500px;
    margin-bottom: 100px;
    text-align: center;
}

.d {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.e {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 25px;
}

.icon {
    font-size: 25px;
    border: 2px solid #5ac6d0;
    border-radius: 50%;
    height: 59px;
    display: inline-block;
    margin-bottom: 38px;
    line-height: 64px;
    width: 59px;
}

.bai3 form input[type="email"] {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    font-size: 17px;
    padding: 20px 10px;
    width: 360px;
}

.g {
    padding: 20px 10px;
    border: 1px solid #fff;
    margin-bottom: 16px;
    text-align: left;
    width: 360px;
    font-size: 16px
}

.h {
    background-color: #70cbce;
    border: 1px solid #70cbce;
    border-radius: 4px;
    color: #fff;
    min-height: 60px;
    padding: 0 30px;
    margin-bottom: 100px;
    font-size: 14px;
}

.bai4 {
    margin: 30px auto;
    width: 700px;
    text-align: left;
}

.bai4 h2 {
    font-size: 33px;
    margin-bottom: 25px;
    text-align: left;
}

.bai4 img {
    height: 400px;
    width: 700px;
    margin-bottom: 25px;
}

.bai4 h3 {
    font-size: 19px;
    margin-bottom: 25px;
    text-align: left;
}

.i {
    color: #a3a3a3;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 25px;
}

.k {
    background-color: #01bacf;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    height: 48px;
    line-height: 48px;
    min-width: 90px;
    padding: 0 30px;
    text-align: center;
    margin-bottom: 100px;
}

.bai5 {
    font-family: Helvetica, sans-serif;
}

.bai5 img {
    height: 350px;
    width: 300px;
    margin: 0px 50px 70px 420px;
    float: left;
}

.bai5 h2 {
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 25px;
    text-align: left;
    font-weight: 20;
}

.l {
    text-align: left;
    font-size: 16px;
    margin-right: 433px;
    margin-bottom: 40px;
    line-height: 1.5;
}

.n {
    text-align: left;
    margin-right: 493px;
    font-size: 16px;
    margin-bottom: 40px;
}

.m {
    text-align: left;
    margin-right: 3px;
    font-size: 16px;
    margin-bottom: 40px;
}

.o {
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    display: inline-block;
    padding: 7px 20px 5px;
    min-width: 70px;
    text-align: center;
    margin-bottom: 100px;
}

.bai6 {
    text-align: center;
}

.bai6 h2 {
    font-size: 26px;
    text-align: center;
    margin: 30px 0px;
    position: relative;
    text-align: center;
    border: 1px solid #000;
    line-height: 0.01em;
}

.bai6 h2 strong {
    padding: 0 20px;
    background-color: white;
}

.bai6 img {
    margin: 10px;
    height: 130px;
    width: 215px;
}

.anh4 {
    width: 60px;
    height: 60px;
    color: #fff;
    display: flex;
    margin-bottom: 300px;
}

.bai7 {
    text-align: center;
    background-color: #f8f8f8;
    color: #1c1b1b;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 100px;
    margin: 0px 350px;
}

.bai7 h1 {
    font-size: 32px;
    font-weight: 600;
    margin: 30px 0px;
    text-align: center;
}


/* line của h2 */

.bai7 h1:after {
    background-color: #339999;
    content: "";
    display: block;
    height: 3px;
    margin: 11px auto 30px;
    position: relative;
    width: 75px;
}

.bai7 .mucluc li {
    display: inline;
    font-size: 17px;
    margin-right: 20px;
    text-decoration: none;
}

.bai7 a {
    color: #555;
    font-weight: 550;
    text-decoration: none;
}

.anh5 {
    background-color: #fff;
    margin-left: 38px;
    height: 830px;
    width: 1130px;
}

.anh5 li {
    float: left;
    margin: 15px;
}

.anh5 img {
    width: 345px;
    height: 240px;
}

.bai8 {
    text-align: center;
    margin-bottom: 300px;
}

.bai8 ul {
    margin-left: 430px;
}

.q {
    color: #b4b4b4;
    margin: 50px 0px;
}

.bai8 li {
    float: left;
    width: 260px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 100px;
}

.bai8 li a {
    text-decoration: none;
}

.bai8 img {
    width: 50px;
    height: 50px;
    margin-bottom: 17px;
}

.bai9 {
    margin: 0px 800px 200px 800px;
}

.bai9 h2 {
    margin-bottom: 30px;
}

.bai9 ul li a {
    background-color: #01bacf;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 4px 10px 3px;
    text-decoration: none;
}

.bai9 li {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
}

.bai10 {
    width: 1500px;
    height: 500px;
    margin: 0px 400px;
    background: url(https://nhandaovadoisong.com.vn/wp-content/uploads/2019/10/hinh-anh-dem-noi-len-tam-trang3.jpg) no-repeat;
    background-size: 1100px 220px;
    padding: 38px 0;
    width: 1180px;
    text-align: center;
}

.bai10 ul li {
    color: #fff;
    display: inline-block;
    width: 200px;
}

.bai10 ul li .icon2 {
    margin-bottom: 14px;
}

.bai10 ul li .icon2 i {
    font-size: 45px;
}

.bai10 ul li .number {
    font-size: 43px;
    margin-bottom: 7px;
}

.bai11 {
    margin: 0 380px 200px 380px;
    font-family: Helvetica, sans-serif
}

.bai11 ul li {
    text-align: center;
    background-color: #f8f8f8;
    border-radius: 2px;
    color: #000;
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
    padding: 25px;
    margin: 20px;
}

.bai11 ul li h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}

.bai11 ul li .icon3 {
    font-size: 25px;
    border: 2px solid #339999;
    border-radius: 50%;
    height: 59px;
    display: inline-block;
    margin-bottom: 20px;
    line-height: 64px;
    width: 58px;
    color: #339999;
}

.bai11 ul li .text {
    font-size: 14px;
    color: #a3a3a3;
}

.bai12 {
    margin: 0 400px 500px 400px;
    position: relative;
}

.bai12 img {
    height: 50px;
    width: 200px;
    float: left;
}

.bai12 ul li {
    margin: 15px 20px;
    float: left;
    text-align: center;
}

.bai12 ul li a {
    text-decoration: none;
}

.bai12 button {
    height: 50px;
    width: 150px;
    border-radius: 4px;
    border: 2px solid #eee;
    color: #333;
    background: none;
    float: right;
    font-size: 14px;
}

.bai13 {
    margin: 30px auto;
    position: relative;
    width: 1140px;
    font-size: 20px;
}

.bai13 div {
    float: left;
}

.bai13 div h4 {
    margin-bottom: 27px;
    font-weight: 100;
}

.bai13 .air {
    max-width: 490px;
    width: 42.98%;
}

.bai13 .links {
    max-width: 195px;
    width: 17.10%;
}

.bai13 a {
    color: #7f7f7f;
    text-decoration: none;
}

.bai13 .categories {
    max-width: 195px;
    width: 17.10%;
}

.bai13 .contact {
    max-width: 260px;
    width: 22.82%;
}

.bai13 .contact address {
    font-style: normal;
}